body{
    background-color: #f2efea;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

nav{
    justify-content:space-between;
    align-items: center;
    height: 18vh;
    background-color: #9f7254b2;
}

#nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3rem;
}

nav, .menú, #fotoynombre{
    display: flex;
}

#fotoynombre{
    gap: 1rem;
    align-items:center;
    list-style: none;
}

.menú{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;   
}

.foto{
    border-radius: 9999px;
}

#descripcion{
    position: relative;
    width: 50%;
    bottom: -20px;
    right: -510px;
    top: -150px;
}

#imagen{
    width: 250px;
    height: 250px ;
    position: relative;
    right: -100px;
}

table{
    border: 15px;
    border-style: solid;
    border-color:#9f7254b2;
    background-color:#9f7254b2;
}
